# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
temp/ 
# Virtual Environments
venv/
env/
.env

# OS files
.DS_Store
Thumbs.db
